<div class="mt-4">
  <h2>Create a new course </h2>
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Course name</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Course Description</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
