<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Learn Now</button>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <img src={{course.image}} alt={{course.name}}>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>