<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="searchInput">Search blogs</label>
      <input type="text" name="keyword" class="form-control" id="searchInput" placeholder="Input the keyword">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>